body{
	background-color: blue;
	background-color: rgba(0, 73, 147, 1);
	background-size: cover;
	background-repeat: none;
	color: rgba(255,255,255,1);
	font-family: 'Ruda', Helvetica, Arial, serif;
	font-size:62.5%;
}

header {
	width: 100%;
	display:block;
	padding:1rem 0 1rem;
	background-color:white;
	color: rgba(0, 73, 147, 1);
	height:17.5%;
	font-size: 4rem;
	font-weight: 900;
	text-align:center;
}

.subhead {
	font-size: 2.5em;
	text-align:center;
}

.menu-container {
	display:block;
	width:80%;
	margin: 0 auto;
	overflow:hidden;
}

#row1 {
	padding-top:2rem;
}

.menu-item {
	background-color: rgba(0,43,88,1);
	width:31%;
	height:auto;
	float:left;
	padding:5% 0 5% 0;
	margin: 1rem 0 0 2%;
}

.menu-item:first-child {
	margin-left:0;
}

.menu-item:nth-of-type(4) {
	margin-left:0;
}

.menu-item p {
	font-size: 2.5rem;
	font-weight: bold;
	text-align:center;
}

.bodytext {
	position:fixed;
	top:22.5%;
	width:60%;
	left:20%;
	z-index:1;
	font-size:1em;
	font-family: Helvetica, Arial, Sans-Serif;
	color: white;
	color: rgba(255, 255, 255, 1);
	text-align:left;
}

.biophoto {
}

/*Menu FX*/
#blog:hover{
	background-image: url('images/blog-hover.png');
}
#facebook:hover{
	background-image: url('images/facebook-hover.png');
}
#twitter:hover{
	background-image: url('images/twitter-hover.png');
}
#work:hover{
	background-image: url('images/work-hover.png');
}
#about:hover{
	background-image: url('images/about-hover.png');
}
#contact:hover{
	background-image: url('images/contact-hover.png');
}

/*CSS for pages under construction*/
#duck {
	width:100%;
	text-align:center;
	padding-top:2rem;
}

#duck img {
	margin: 0 auto;
	text-align:center;
}

h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
	margin: 0 auto;
	padding-top: 2rem;
}


.contact {
	position:absolute;
	top:220px;
	left:300px;
}


/*CSS for Mobile Devices*/
@media only screen and (max-width: 767px) {
	header {
		font-size: 2.75rem;
	}

	.menu-item {
		width:48%;
		margin:0;
		margin-top:1rem;
	}

	.menu-item:nth-of-type(even){
		margin: 1rem 0 0 2%;
	}
}

@media only screen and (max-width: 566px) {

	.menu-item p {
		font-size:2rem;
	}

@media only screen and (max-width: 480px) {
	.menu-item {
		width:100%;
		margin:0;
		margin-top:1rem;
		padding:10% 0 10%;
	}

		.menu-item:nth-of-type(even){
		margin: 0;
		margin-top:1rem;
	}

	h2 {
		font-size:1.75rem;
	}

}

